/* COMMUN */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    height: 100%;
}


body {
    background: linear-gradient(.25turn, #70D9E0 10%, #387CD4);
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* --------------NAV----------*/

nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    height: 10%;
}

.logo-container {
    width: 35%;
    margin-top: 0.5rem;
}

.logo-container img {
    max-width: 100%;
}

/* --------------INFO BAR----------*/

#info-bar {
    height: 4rem;
    width: 100%;
    margin-bottom: 1.7rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#level {
    font-weight: 600;
    color: #3D6DEA;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
}

#life-container {
    display: flex;
    justify-content: space-between;
    width: 6rem;
}

.life {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 100%;
    background-color: #387CD4;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


/* --------------MAIN----------*/

main {
    background-color: white;
    height: 76%;
}

.theme-question {
    height: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.themePhoto {
    height: 147px;
    width: 250px;
}

.imgGeographyContainer {
    height: 130px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}


.textQuestion {
    width: 80%;
    text-align: justify;
    line-height: 1.4;
    font-weight: 500;
}


.answer {
    display: grid;
    grid-template-columns: 1rem 2fr 2fr 1rem;
    grid-template-rows: repeat (2, 30px);
    gap: 10px;
    /* justify-content: center;
   */
}

.answer button {
    background-color: #3D6DEA;
    color: white;
    border-radius: 18px;
    border: 0;
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.answer button:hover {
    border: 1px solid black;
}

.reponse1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.reponse2 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.reponse3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.reponse4 {
    grid-column: 3/4;
    grid-row: 2/3;
}


.next-question-container {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 80%;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.next-question-btn {
    background-color: green;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.marge-bot {
    height: 4%;
}

.hide {
    display: none;
}

/********************** DESKTOP INTEGRATION *************************/

@media screen and (min-width: 600px) {
    nav {
        height: 130px;
        margin: 0;
    }

    .logo-container {
        height: 75px;
        width: 100%;
        margin-top: 24px;
    }

    .logo-container img {
        height: 100%;
        max-width: 100%;
    }

    #info-main {
        display: grid;
        grid-template-columns: 2% 1fr 3fr 1fr 2%;
        gap: 25px;
        height: 78%;
        border: 1px solid black;
    }

    #info-bar {
        grid-column: 2/3;
        height: 25%;
        flex-direction: column;
        align-items: flex-start;
    }

    .main {
        grid-column: 3/4;

    }
}