/* COMMUN */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("./images/background.png");
  background-position: contain;
  width: 100%;
}

/* PAGE HOME */
/* PAGE QUESTION */

nav {
  height: 10%;
  display: flex;
  justify-content: center;
}

.logo-container {
  width: 20%;
  padding-top: 1rem;
}

.logo-container img {
  max-width: 100%;
}


/*************** MAIN ***************/
main {
  height: 100%;
  display: flex;
  justify-content: center;
}

.question {
  background-color: white;
  width: 100%;
  font-family: 'Open Sans', sans-serif;

}

.imgGeographyContainer {
  max-width: 100%;
  display: flex;
  justify-content: center;

}

.imgGeographyContainer img {
  width: 70%;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

.textQuestion {
  /* width: 80%; */
  margin: 1.5rem 2rem 1.5rem 2rem;
  text-align: justify;
}


.answer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  grid-gap: 1rem 0.5rem;

  /* justify-content: center;
   */
}

.answer button {
  background-color: #3D6DEA;
  padding: 1rem 0rem 1rem 0rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-radius: 18px;
  border:none;
  width: 8rem;
  margin: 0 auto;
}