/* COMMUN */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap');

:root {
  --blue: #3d6dea;
  --correct: #3dea49;
  --wrong: #ea3d3d;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(.25turn, #70D9E0 10%, #387CD4);
}

.container {
  width: 65%;
  background-color: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: var(--blue);
  border-color: var(--blue);
  border-radius: 4rem;
  color: white;
  padding: 5px 10px;
}

.btn:hover {
  border: 2px solid black;
}

.btn.correct {
  background-color: var(--correct);
  color: black;
}

.btn.wrong {
  background-color: var(--wrong);
}

.next-btn,
.start-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}